
<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.animals = {"cat": "meow",
          "dog": "woof", 
          "bird": "tweet",
          "mouse": "squeek",
          "cow": "moo",
          "frog": "croak",
          "elephant": "toot",
          "fox": "ding ding ding ding ding"
        }
       
      }
    </script>
  </header>
  
  <body ng-controller="MyController">
    <h1>I heard you like the fox song</h1>     
    Enter one of the animals' name <br />
    <ul>
      <li ng-repeat="(animal,sound) in animals">
        {{animal}}
      </li>
    </ul>
    What does the <input type="text" ng-model="animal"> say?
    
    <div id="result" style="font-size:78px;font-weight:bold;text-align:center;padding-top:50px;">
      {{animals[animal]}}
    </div>
  </body>
  
</html>
